@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url("lov.jpg");
}












.submit-btn:hover{
    padding: 10px;
    margin: 10px auto;
    color: white;
    background-color: rgb(163, 26, 203);
    border: 2px solid rgb(163, 26, 203);
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
}




.footer{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 30, 30);
}
